<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Name</th>
    <th>Pending ?</th>
    <th>transactionId</th>
    <th>categoryId</th>  
  </tr>
  
<tr th:each="transaction : ${transactions}">    
    <td th:text="${transaction.date}">January 15, 2016</td>
    <td th:text="${transaction.originalDescription}">189.0</td>
    <td th:text="${transaction.amount}">189.0</td>
    <td th:text="${transaction.name}">189.0</td>       
    <td th:text="${transaction.pending}">true</td>   
    <td th:text="${transaction.transactionId}">189.0</td>
    <td th:text="${transaction.categoryId}">189.0</td>
</tr>
</table>
</body>
</html>